.popap-local-storage {
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    padding-top: 20px;
    justify-content: center;
    background-color: #c2c0b5;

    &__wrapper {
        max-width: 350px;
    }

    &__title {
        text-align: center;
        margin-bottom: 10px;
    }

    &__bottom,
    &__top {
        width: 100%;
        background-color: #0062cc;
        margin-bottom: 5px;
        padding: 15px;
    }

    &__top {

        ul li {
            width: 100%;
            background-color: #a0b9C0;
            padding: 2px;
            margin-bottom: 3px;
            cursor: pointer;
        }

        ul li.click {
            background-color: azure;
        }

        ul li p {
            width: 49%;
            display: inline-block;
            // background-color: aquamarine;
            margin-bottom: 2px;
            padding: 3px;
        }
    }

    &__bottom {

        label {
            width: 40%;
            display: inline-block;
            line-height: 30px;
            padding-left: 5px;
        }

        input {
            width: 58%;
            line-height: 25px;
            margin-bottom: 10px;
            // display: inline-block;
            // margin-left: 100px;      
        }

    }



    // &__input-text {
    //     display: block;
    //     margin-bottom: 10px;
    //     width: 100%;
    //     line-height: 2;
    // }

    &__btn {
        font-size: 1rem;
        width: 100%;
        margin-bottom: 10px;
        line-height: 2;
        cursor: pointer;
    }

}

// ************************************
.popap-local-storage__show {
    display: flex;
}


.popap-local-storage-menu {
    background-color: #a0b9C0;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding-bottom: 20px;
    overflow-y: auto;
    height: 250px;

    &__title {
        margin-bottom: 10px;
    }

    &__item {
        width: 100%;
        background-color: aquamarine;
        padding: 0 5px;
        margin-bottom: 3px;
        cursor: pointer;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        font-size: 1.2rem;
        transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
    }

    &__item:hover {
        background-color: #D0C990;

    }

    &__item p {
        width: 49%;
        display: inline-block;
        // background-color: aquamarine;
        margin-bottom: 2px;
        padding: 3px;
        // cursor: pointer;
        font-size: 1rem;
    }
}